:root {
  --hero-produtos-image: url(../Images/hero-image.jpg);
  --header-color: #24252a;
  --footer-color: #24252a;
  --logo-image: url(../Images/rock-symbol-of-a-hand-svgrepo-com.svg);
}
* {
  margin: 0px;
}
main {
  padding: 20px;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--hero-produtos-image);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
section {
  background-color: #f0f0f0;
}
#hero-text {
  text-align: center;
  color: white;
  width: 90%;
}
#hero-text h1 {
  font-size: 90px;
}
#hero-text p {
  font-family: "italic";
  font-size: 20px;
}
#hero-text b {
  font-size: 25px;
  color: rgb(255, 33, 33);
}
aside {
  background-color: #292a2d;
  color: white;
}
aside ul{
  margin-right: 20px;
}
aside h2{
  margin-top: 20px;
}
.logo{
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    var(--logo-image);
    background-size: cover;
    padding: 50px 0px 50px 5px;
    font-size: 40px;
    font-family: 'italic';
}
.subtitle{
  text-align: center;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'italic';
}
.categoria {
  padding-left: 20px;
}

.mobile-main {
  display: none;
}
footer {
  background-color: var(--footer-color);
  padding: 10px 20px;
}
footer p {
  color: #e2e2e2;
  font-family: "thin";
  font-size: 14px;
  text-align: center;
}
